/node_modules/

/src/logs/
/src/app/Config/
/src/payment/
/src/admin-page/
/src/app/func/admin.js

/src/html/.env
/src/html/payanyway.php
/src/html/callback.php
/src/html/data.php


*.env
*.csv
.idea